body {
 background: url("/images/background.jpg") no-repeat center center fixed;
   background-size: cover
}
.fill {object-fit: fill;}
.contain {object-fit: contain;}
.cover {object-fit: cover;}

.card {margin: 5%; }

.card1 {background-image: url("/images/chalk.jpg");}

ol, ul{
  font-size: 16px;
}
* {color: white}

.image{margin-bottom: 5%;}

.borders{border-style: solid;
border-width: 20px !important;
border-color:#825222!important}